@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu Mono", monospace;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@layer base {
	li {
		@apply px-4;
		@apply cursor-pointer;
		@apply text-2xl;
	}
}

.content-div {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 250px;
}

.content-div:hover {
	background-image: linear-gradient(
		to right,
		rgba(112, 157, 255, 0),
		hsla(242, 74%, 61%, 0)
	) !important;
}
